.container {
  transition: opacity 0.2s linear;
  transform: translateX(-50%);
  background: transparent;
  border: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  left: 50%;
  bottom: var(--dimension-spacing-large);
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
}
.container:hover {
  opacity: 1;
}

.label {
  margin: 0 0 4px;
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  letter-spacing: 1px;
}
.icon {
  font-size: 26px;
}
