.about {
  width: 100%;
  align-items: center;
  display: flex;
}

.about blockquote {
  margin: 0 0 0 var(--dimension-spacing-large);
  padding: var(--dimension-spacing-large);
  border-radius: var(--dimension-border-radius);
  background: #fff;
  box-shadow: 0 5px 20px 0 rgb(0 0 0 / 8%);
  flex: 1 0 0;
  position: relative;
}
.about blockquote::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid #fff;
  position: absolute;
  left: -20px;
  top: calc(50% - 15px);
}

/*
  Phone landscape
*/
@media (max-width: 812px) {
  .about {
    flex-direction: column;
  }
  .about blockquote {
    margin: var(--dimension-spacing-large) 0 0;
  }
  .about blockquote::before {
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    top: -15px;
    left: calc(50% - 10px);
  }
}
