.container {
  background: var(--color-green-light);
}

.skills {
  margin: -6px -6px 18px;
  padding: 0;
  list-style: none;
}
.skills li {
  margin: 6px;
  padding: 10px 18px;
  font-size: var(--font-size-medium);
  color: #fff;
  font-weight: var(--font-weight-bold);
  display: inline-block;
}

/*
  Colours
*/
.green {
  background: var(--color-green);
}
.blue {
  background: var(--color-blue);
}
.orange {
  background: var(--color-orange);
}
.purple {
  background: var(--color-purple);
}
.legacy.green {
  background: #a5d6a7;
}
.legacy.orange {
  background: #ffcc80;
}
.legacy.blue {
  background: #90caf9;
}
.legacy {
  cursor: help;
  position: relative;
}
.legacy::after {
  content: "Legacy skill";
  transform: translate(-50%, calc(-100% - 10px));
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  display: none;
  padding: 10px 15px;
  position: absolute;
  text-align: center;
  z-index: 999;
  white-space: nowrap;
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-bold);
  top: 0;
  left: 50%;
}
.legacy::before {
  background-color: #333;
  content: " ";
  transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 999;
  top: 0;
  left: 50%;
}
.legacy:hover::after {
  display: block;
}
.legacy:hover::before {
  display: block;
}

/*
  Tooltip
*/
.tooltip {
  background-color: #ffaffc;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 15px;
  text-align: center;
}
.tooltip::after {
  background-color: #333;
  border-radius: 10px;
  color: #b254ff;
  display: none;
  padding: 10px 15px;
  position: absolute;
  text-align: center;
  z-index: 999;
}
.tooltip::before {
  background-color: #333;
  content: " ";
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  z-index: 999;
}
.tooltip:hover::after {
  display: block;
}
.tooltip:hover::before {
  display: block;
}
.tooltip.top::after {
  content: "top";
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 10px));
}
.tooltip.top::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

/*
  Phone landscape
*/
@media (max-width: 812px) {
  .skills {
    text-align: center;
  }
}
