/* stylelint-disable font-family-no-missing-generic-family-keyword */
.container {
  margin: 0 0 32px;
  padding: 4px 0 0 30px;
  position: relative;
}
.container:last-child {
  margin-bottom: 0;
}
.container::before {
  content: "work";
  font-family: "Material Symbols Outlined";
  font-size: 20px;
  font-feature-settings: "liga";
  color: var(--color-green);
  left: 0;
  top: 0;
  position: absolute;
}
.container::after {
  content: "";
  width: 1px;
  background: var(--color-green);
  left: 9px;
  top: 28px;
  bottom: 0;
  position: absolute;
}

.dates {
  margin: 0 0 8px;
  font-size: var(--font-size-small);
  color: var(--color-muted);
  display: flex;
}
.dates span {
  margin: 0 4px;
}

.container h3 {
  font-size: 22px;
  font-weight: var(--font-weight-bold);
}
.container h4 {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  opacity: 0.8;
}

.container address {
  font-size: var(--font-size-tiny);
  color: var(--color-muted);
}
